<div class="clearfix"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Repo</th>
      <th scope="col" colspan="3">Projects</th>
    </tr>
  </thead>
  <tbody>
    <% @repos.each do |repo| %>
      <% next if repo.projects.nil? || repo.git_repo_url.nil? %>
      <% repo.build_projects.each_with_index do |project, index| %>
        <tr>
          <th scope="row"><%= repo.name if index.zero? %></th>
          <td>
            <a href="/repos/<%= repo.id %>/projects/<%= project.code %>">
              <%= project.code %>
            </a>
          </td>
          <td>
            <a href="<%= project.build_url %>" 
               class="<%= project.text_status_classes %>"
               target="_blank">
              <%= project.status %></a>
            </a>
          </td>
          <td>
            <a href="<%= project.build_url %>" 
               target="_blank"
               data-timestamp="<%= project.start_time %>"></a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
