<div class="clearfix"></div>
<table class="table">
  <tbody>
    <% @project.sources.each do |source| %>
      <tr>
        <td>
          <a href="/projects/<%= source.code %>/sources/<%= source.version_key %>">
            <%= source.source_ref %>
          </a>
        </td>
        <td>
          <a href="/projects/<%= source.code %>/sources/<%= source.version_key %>">
            <%= source.branch_name %>
          </a>
        </td>
        <td>
          <a href="<%= source.build_url %>" 
             class="<%= source.text_status_classes %>"
             target="_blank">
            <%= source.status %></a>
        </td>
        <td>
          <a href="<%= source.build_url %>" 
             target="_blank"
             data-timestamp="<%= source.start_time %>"></a>
        </td>
    <% end %>
  </tbody>
</table>

<% content_for :navbar_right do %>
  <li>
    <a href="/">
      Projects 
    </a>
  </li>
<% end %>
